<div style="margin: 10px auto;width: 50%">
  <form #ListaEventos="ngForm" *ngIf="meetings.length==0 && nuevaCarga==false">
    <div class="form-group">
      <label for="fechaInicio">Fecha de inicio:</label>
      <input type="datetime-local" name="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" id="fechaInicio" required>
    </div>
    <div class="form-group">
      <label for="fechaFin">Fecha de fin:</label>
      <input type="datetime-local" name="fechaFin" class="form-control" [(ngModel)]="fechaFin" id="fechaFin" required>
    </div>
    <div class="form-group">
      <label for="maxResults">Cantidad de eventos:</label>
      <input type="number" name="maxResults" class="form-control" [(ngModel)]="maxResults" id="maxResults" required>
    </div>
    <button mat-raised-button color="dro" [disabled]="ListaEventos.invalid" (click)="getEventos()">Obtener eventos</button>
  </form>
</div>
<div *ngIf="isloaded">
  <table class="table" *ngIf="meetings.length>0">
    <thead>
    <tr class="row">
      <th class="col col-3">Titulo</th>
      <th class="col col-3">Descripcion</th>
      <th class="col col-3">Desde</th>
      <th class="col col-3">Hasta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of meetings" class="row">
      <td class="col col-3" >{{m.summary}}</td>
      <td class="col col-3">{{m.description}}</td>
      <td class="col col-3">{{m.start.dateTime | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td class="col col-3">{{m.end.dateTime | date: 'dd/MM/yyyy HH:mm'}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div style="margin: 10px auto;width: 50%" *ngIf="nuevaCarga">
  <form #NuevoEvento="ngForm" *ngIf="nuevaCarga">
    <div class="form-group">
      <label for="titulo">Titulo:</label>
      <input name="titulo" id="titulo" type="text" required class="form-control" [(ngModel)]="event.summary">
    </div>
    <div class="form-group">
      <label for="desc">Descripcion:</label>
      <input name="desc" id="desc" type="text" required class="form-control" [(ngModel)]="event.description">
    </div>
    <div class="form-group">
      <label for="desc">E-mail cliente:</label>
      <input name="desc" id="emailCliente" type="text" required class="form-control" [(ngModel)]="event.attendees[0].email">
    </div>
    <div class="form-group">
      <label for="CfechaInicio">Fecha de inicio:</label>
      <input type="datetime-local" name="CfechaInicio" class="form-control" [(ngModel)]="event.start.dateTime" id="CfechaInicio" required>
    </div>
    <div class="form-group">
      <label for="CfechaFin">Fecha de fin:</label>
      <input type="datetime-local" name="CfechaFin" class="form-control" [(ngModel)]="event.end.dateTime" id="CfechaFin" required>
    </div>
    <button mat-raised-button color="dro" [disabled]="NuevoEvento.invalid" (click)="crearEvento(event)">Crear eventos</button>
  </form>
</div>
<div>
  <button mat-raised-button color="dro" style="display: block;float: right;margin: 10px" (click)="meetings.length=0;nuevaCarga=false">Consultar</button>
  <button mat-raised-button color="dro" style="display: block;float: right;margin: 10px" (click)="meetings.length=0;nuevaCarga=true">Cargar</button>
</div>
