<div class="row justify-content-center m-5 ">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Crear Tipo Gestion</h2>
        <div class="form-group" *ngFor="let i of [].constructor(boxQuantity+1); let index = index">
          <ng-autocomplete id="{{index}}" [data]="dataList[index]"
                           placeHolder="Ingrese el nombre de un tipo de gestion..."
                           name="tipoGestionSelected" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
                           (selected)="chargeChild(index+'|'+$event.id);
                               setTipoGestionSelected(selectedG[index].split('|')[1])"
                           (inputCleared)="staticCategory = false"
                           [notFoundTemplate]="notFoundTemplate"
          ></ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nombre_gestion"></a>
          </ng-template>
          <ng-template #notFoundTemplate>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="tipoDeGestion.nombre_gestion"
                 required>
        </div>
        <div class="form-group">
          <label for="categoriaGestion">Categoría:</label>
          <select id="categoriaGestion" class="form-control" name="categoriaGestion" [disabled]="staticCategory" [(ngModel)]="categoriaSelected.id"
                  required>
            <option value="0">--ELIJA UNA CATEGORÍA--</option>
            <option *ngFor="let cg of categoriasGestiones" [ngValue]="cg['id']">{{cg['descripcion']}}</option>
          </select>
        </div>
        <mat-checkbox [(ngModel)]="tipoDeGestion.realizado_automatico" [disabled]="staticCategory" name="FlagRealizado" color="primary">Realizado
          automático
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="tipoDeGestion.es_numerica" [disabled]="staticCategory" name="observacionNumerica" color="primary">Observacion
          numérica
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="tipoDeGestion.crea_movimiento_caja" [disabled]="staticCategory" name="creaMovimientoCaja" color="primary">Crea
          movimiento caja
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="tipoDeGestion.tiene_nota" name="tieneNota" color="primary">Tiene nota
        </mat-checkbox>
        <br>
        <ckeditor [config]="{ language: 'es', removePlugins: ['ImageUpload','EasyImage','ImageToolbar','ImageCaption','ImageStyle','MediaEmbed','MediaEmbedToolbar']}" *ngIf="tipoDeGestion.tiene_nota" name="notas" [editor]="editor" [(ngModel)]="tipoDeGestion.notas"></ckeditor>
        <br>
        <div style="padding-top: 10px">
          <button mat-raised-button color="dro" style="float: right" [disabled]="categoriaSelected.id==0"
                  (click)="crearTipoGestion()">Crear Tipo Gestion
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center m-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <form #EditarGestionForm="ngForm">
          <h2 class="card-title">Editar Tipo Gestion</h2>
          <div class="form-group" *ngFor="let i of [].constructor(boxQuantityEdit+1); let indexEdit = index">
            <ng-autocomplete id="{{indexEdit}}" [data]="dataListEdit[indexEdit]"
                             placeHolder="Ingrese el nombre de un tipo de gestion..."
                             name="tipoGestionSelected" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
                             (selected)="chargeChildEdit(indexEdit+'|'+$event.id,$event);copiarNombre($event)"
                             (inputCleared)="tipoDeGestionEditSelected = gestionBase;nombreEditado=''"
                             [notFoundTemplate]="notFoundTemplate"
            ></ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.nombre_gestion"></a>
            </ng-template>
            <ng-template #notFoundTemplate>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <div class="form-group">
            <label for="NombreTipoGestionEdit">Nombre:</label>
            <input type="text" class="form-control" id="NombreTipoGestionEdit" name="NombreTipoGestionEdit"
                   [(ngModel)]="nombreEditado" required>
          </div>
          <div class="form-group" *ngIf="boxQuantityEdit<=1">
            <label for="categoriaGestionEdit">Categoría:</label>
            <select id="categoriaGestionEdit" class="form-control" name="categoriaGestionEdit"
                    [(ngModel)]="tipoDeGestionEditSelected.id_categoria_gestion">
              <option *ngFor="let cg of categoriasGestiones" [value]="cg['id']">{{cg['descripcion']}}</option>
            </select>
          </div>
          <mat-checkbox [(ngModel)]="tipoDeGestionEditSelected.realizado_automatico" name="FlagRealizadoEdit"
                        color="primary">Realizado automático
          </mat-checkbox>
          <br>
          <mat-checkbox [(ngModel)]="tipoDeGestionEditSelected.es_numerica" name="observacionNumericaEdit"
                        color="primary">Observacion numérica
          </mat-checkbox>
          <br>
          <mat-checkbox [(ngModel)]="tipoDeGestionEditSelected.crea_movimiento_caja" name="creaMovimientoCajaEdit"
                        color="primary">Crea movimiento caja
          </mat-checkbox>
          <br>
          <mat-checkbox [(ngModel)]="tipoDeGestionEditSelected.tiene_nota" name="tieneNota" color="primary">Tiene nota
          </mat-checkbox>
          <br>
          <mat-checkbox [(ngModel)]="tipoDeGestionEditSelected.deshabilitada" name="deshabilitada" color="primary">Deshabilitada
          </mat-checkbox>
          <br>
          <ckeditor [config]="{ language: 'es', removePlugins: ['ImageUpload','EasyImage','ImageToolbar','ImageCaption','ImageStyle','MediaEmbed','MediaEmbedToolbar']}" *ngIf="tipoDeGestionEditSelected.tiene_nota" name="notasEdit" [editor]="editorGestionSelected" [(ngModel)]="tipoDeGestionEditSelected.notas"></ckeditor>
          <br>
          <button mat-raised-button color="dro" class="boton" (click)="editarTipoGestion()"
                  [disabled]="!EditarGestionForm.valid">Editar Gestion
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center m-5">
  <div class="col-sm-6 card-margin-bottom">
    <div class="card">
      <div class="card-body">
        <form #DeleteGestionForm="ngForm">
          <h2 class="card-title">Borrar Tipo Gestion</h2>
          <div class="form-group" *ngFor="let i of [].constructor(boxQuantityDel+1); let indexDel = index">
            <ng-autocomplete id="{{indexDel}}" [data]="dataListDel[indexDel]"
                             placeHolder="Ingrese el nombre de un tipo de gestion..."
                             name="tipoGestionSelected" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
                             (selected)="chargeChildDel(indexDel+'|'+$event.id);tipoDeGestionDelSelected = $event"
                             (inputCleared)="tipoDeGestionDelSelected = gestionBase"
                             [notFoundTemplate]="notFoundTemplate"
            ></ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.nombre_gestion"></a>
            </ng-template>
            <ng-template #notFoundTemplate>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <button mat-raised-button color="dro-danger" class="boton" (click)="borrarTipoGestion()"
                  [disabled]="!DeleteGestionForm.valid">Borrar Gestion
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
